.listrow-container
{
    border-radius: 3px;
    margin: 5px auto 0 auto;
    padding-left: 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: rgb(193, 195, 255);
    color: rgb(66, 66, 66);
    text-align: left;
    height: 40px;
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: auto 65px;
}
.listrow-container:hover
{
    background-color: rgb(175, 177, 250) ;
}

.options
{
    font-size: 23px;
    padding-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.edit , .delete
{
    transition: .5s all;    
}

.edit:hover , .delete:hover{
    transform: scale(1.2);
    transition: .5s all;
}
.delete:hover
{
    color: rgb(138, 32, 32);
}
.edit:hover
{
    color: rgb(27, 75, 119);
}